{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>

        .main-content {
            margin-left: 200px;
            padding: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            background-color: #007bff;
            color: white;
            padding: 10px;
            text-align: left;
        }
        td {
            background-color: white;
            color: black;
            padding: 10px;
            border: 1px solid black;
            text-align: left;
        }
        th.actions, td.actions {
            width: 210px; /* Ajusta este valor según tus necesidades */
        }
    </style>
</head>
<body>
    <!--LA BARRA DE ARRIBA-->
    <div class="topbar">
        <div class="d-flex align-items-center">
            <button class="toggle-sidebar" id="toggle-sidebar"><i class="fas fa-bars"></i></button>
            <img src="{% static 'imagenes/logo-admin.png' %}" alt="Logo" class="img-fluid" style="max-height: 80px;">
        </div>
        <div class="d-none d-sm-flex justify-content-center flex-grow-1">
            <span class="text-center">C E R C A  &nbsp; S A L U D</span>
        </div>
        <a href="{% url 'CerrarSesion' %}" class="btn btn-danger">Cerrar Sesión</a>
    </div>

    <!--LA BARRA LATERAL-->
    <div class="sidebar" id="sidebar">
        <br>
        <br>
        <br>
        <a href="{% url 'logmin' %}" title="Principal"><span>Principal</span></a>
        <a href="{% url 'admin_inventario' %}" class="active" title="Inventario"><span>Inventario</span></a>
        <a href="{% url 'admin_usuarios' %}" title="Usuarios"><span>Usuarios</span></a>
        <a href="{% url 'admin_buzon' %}" title="Buzón"><span>Buzón</span></a>
        <a href="{% url 'admin_permisos' %}" title="Permisos"><span>Permisos</span></a>
        <a href="{% url 'admin_pedidos' %}" title="Pedidos"><span>Pedidos</span></a>
        <a href="{% url 'home' %}" <button class="back-button"><span>BACK</span></button>></a>
    </div>

    <!--CONTENIDO PRINCIPAL-->
    <div class="main-content">
        <h1>Inventario</h1>
        <div class="d-flex justify-content-start mb-3">
            <a class="btn btn-primary" href="{% url 'agregar_inventario' %}" role="button">Agregar</a>
        </div>
        <form method="POST" action="{% url 'FiltrarInventario' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="producto">Producto</label>
              <input type="text" class="form-control" name="producto" id="producto" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Fitrar</button>
          </form>
          <br>
        <h1></h1>
        <table>
            <tr>
                <th>ID del producto</th>
                <th>Producto</th>
                <th>Cantidad del producto</th>
                <th class="actions">Acciones</th>
            </tr>
            <!-- Puedes añadir más filas aquí -->
            {% for inventario in inventarios %}
                <tr>
                    <td scope="row">{{ inventario.id_prod }}</td>
                    <td>{{ inventario.producto }}</td>
                    <td>{{ inventario.cant_producto }}</td>
                    <td>
                        <a href="{% url 'ModificarInventario' inventario.id_prod %}" <button class="btn btn-warning">Modificar</button>></a>
                        <a href="{% url 'EliminarInventario'  inventario.id_prod %}" <button class="btn btn-danger ml-2">Eliminar</button>></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    
    <!--scrip-->
    <script href="{% static 'js-barra.js' %}"> href="js-barra.js"</script>
</body>
</html>


